<div class="modal fade" [id]="getModalId()" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" [innerHTML]="getModalTitle()"></h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form #routePointForm="ngForm" (ngSubmit)="savePoint()">
          <fieldset [disabled]="isSearchingCep">
            <div class="mb-3">
              <label [for]="'cep' + type" class="form-label">CEP</label>
              <div class="input-group">
                <input type="text" class="form-control" [id]="'cep' + type" [(ngModel)]="formData.cep" name="cep"
                       maxlength="9" (ngModelChange)="onCepChange($event)" required>
                <span class="input-group-text" *ngIf="isSearchingCep">
                  <i class="fas fa-spinner fa-spin"></i>
                </span>
              </div>
            </div>
            <div class="mb-3">
              <label [for]="'address' + type" class="form-label">Endereço</label>
              <input type="text" class="form-control" [id]="'address' + type" [(ngModel)]="formData.address" name="address" required>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label [for]="'number' + type" class="form-label">Número</label>
                <input type="text" class="form-control" [id]="'number' + type" [(ngModel)]="formData.number" name="number" required>
              </div>
              <div class="col-md-6 mb-3">
                <label [for]="'neighborhood' + type" class="form-label">Bairro</label>
                <input type="text" class="form-control" [id]="'neighborhood' + type" [(ngModel)]="formData.neighborhood" name="neighborhood" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 mb-3">
                <label [for]="'city' + type" class="form-label">Cidade</label>
                <input type="text" class="form-control" [id]="'city' + type" [(ngModel)]="formData.city" name="city" required>
              </div>
              <div class="col-md-4 mb-3">
                <label [for]="'state' + type" class="form-label">Estado</label>
                <input type="text" class="form-control" [id]="'state' + type" [(ngModel)]="formData.state" name="state" required>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
        <button type="submit" class="btn" [ngClass]="{'btn-primary': type === 'start', 'btn-success': type === 'end'}"
                (click)="savePoint()" [disabled]="!isFormValid() || isSearchingCep">
          <i class="fas fa-save me-1"></i>
          {{ type === 'start' ? 'Salvar Ponto de Partida' : 'Salvar Ponto de Chegada' }}
        </button>
      </div>
    </div>
  </div>
</div>
